<div id="preguntes">

  <div class="slide p1">
    <div class="title">Pregunta 1</div>
    <div class="header">Facilis persequeris ad nam, ex alia solet adipiscing mei. Has agam eligendi ex. Id pro nulla assentior, id quo assum debitis. Duo cu agam nonumy labores. Vim homero phaedrum argumentum ut, iudico tollit ceteros est et. No justo ocurreret nam, cum natum mollis bonorum eu.</div>
    <div class="photo">photo</div>
    <ul class="answers">
      <li class="answer" data-go_slide="p2">Respota 1 (2)</li>
      <li class="answer" data-go_slide="p4">Respota 2 (4)</li>
      <li class="answer" data-go_slide="p6">Respota 3 (6)</li>
    </ul>
  </div>

  <div class="slide p2 to_hide">
    <div class="title">Pregunta 2</div>
    <div class="header">Facilis persequeris ad nam, ex alia solet adipiscing mei. Has agam eligendi ex. Id pro nulla assentior, id quo assum debitis. Duo cu agam nonumy labores. Vim homero phaedrum argumentum ut, iudico tollit ceteros est et. No justo ocurreret nam, cum natum mollis bonorum eu.</div>
    <div class="photo">photo</div>
    <ul class="answers">
      <li class="answer" data-go_slide="p3">Respota 1 (3)</li>
      <li class="answer" data-go_slide="p3">Respota 2 (3)</li>
      <li class="answer" data-go_slide="p6">Respota 3 (6)</li>
    </ul>
  </div>

  <div class="slide p3 to_hide">
    <div class="title">Pregunta 3</div>
    <div class="header">Facilis persequeris ad nam, ex alia solet adipiscing mei. Has agam eligendi ex. Id pro nulla assentior, id quo assum debitis. Duo cu agam nonumy labores. Vim homero phaedrum argumentum ut, iudico tollit ceteros est et. No justo ocurreret nam, cum natum mollis bonorum eu.</div>
    <div class="photo">photo</div>
  </div>

  <div class="slide p4 to_hide">
    <div class="title">Pregunta 4</div>
    <div class="header">Facilis persequeris ad nam, ex alia solet adipiscing mei. Has agam eligendi ex. Id pro nulla assentior, id quo assum debitis. Duo cu agam nonumy labores. Vim homero phaedrum argumentum ut, iudico tollit ceteros est et. No justo ocurreret nam, cum natum mollis bonorum eu.</div>
    <div class="photo">photo</div>
    <ul class="answers">
      <li class="answer" data-go_slide="p5">Respota 1 (5)</li>
      <li class="answer" data-go_slide="p5">Respota 2 (5)</li>
      <li class="answer" data-go_slide="p6">Respota 3 (6)</li>
    </ul>
  </div>

  <div class="slide p5 to_hide">
    <div class="title">Pregunta 5</div>
    <div class="header">Facilis persequeris ad nam, ex alia solet adipiscing mei. Has agam eligendi ex. Id pro nulla assentior, id quo assum debitis. Duo cu agam nonumy labores. Vim homero phaedrum argumentum ut, iudico tollit ceteros est et. No justo ocurreret nam, cum natum mollis bonorum eu.</div>
    <div class="photo">photo</div>
    <ul class="answers">
      <li class="answer" data-go_slide="p6">Respota 1 (6)</li>
      <li class="answer" data-go_slide="p6">Respota 2 (6)</li>
      <li class="answer" data-go_slide="p3">Respota 3 (3)</li>
    </ul>
  </div>

  <div class="slide p6 to_hide">
    <div class="title">Pregunta 6</div>
    <div class="header">Facilis persequeris ad nam, ex alia solet adipiscing mei. Has agam eligendi ex. Id pro nulla assentior, id quo assum debitis. Duo cu agam nonumy labores. Vim homero phaedrum argumentum ut, iudico tollit ceteros est et. No justo ocurreret nam, cum natum mollis bonorum eu.</div>
    <div class="photo">photo</div>
  </div>

</div>
